
@font-face {
  font-family: '04b19';
  src: url('04b19.eot?#iefix') format('embedded-opentype'),  url('04b19.woff') format('woff'), url('04b19.ttf')  format('truetype'), url('04b19.svg#04b19') format('svg');
  font-weight: normal;
  font-style: normal;
}
